@font-face {
  font-family: DMSerifTextNormal;
  font-weight: 400;
  font-style: normal;
  src:url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
}

@font-face {
  font-family: DMSerifTextItalic;
  font-weight: 400;
  font-style: italic;
  src:url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
}