@import url('fonts.css');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: hsl(200,33%,10%);
  color: hsl(30,95%,98%);
  font-family: "Saira", sans-serif;
  font-style: normal;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  padding: 5px 10px;
  width: 100%;
}
#my-pic {
  background-color: hsl(67,40%,17%);
  height: 200px;
}
#my-pic img {
  max-width: 100%;
  height: 200px;
}

@media screen and (min-width:800px) {
  .container {
    padding: 10px 20px;
  }
  h1{
    font-size: 4em;
    font-weight: 150%;
  }
  h4,p,li {
    font-size: 150%;
    font-weight: 120%;
  }
}