@import url('fonts.css');
* {
  box-sizing: border-box;
}
body {
  --color: hsl(30,95%,98%);
  --bg-color: hsl(200,33%,10%);
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--color);
  font-family: "Saira", sans-serif;
  font-style: normal;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  width: 100%;
  /* background-color: hsl(200,53%,16%); */
}
#my-pic div {
  width: 40%;
  height: auto;
  margin: auto;
}
/* #my-pic {
  border-radius: 50%;
  background-color: hsl(67,40%,17%);
  height: auto;
} */
#my-pic img {
  margin: auto;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
li,
#my-pic div,
.container {
  padding: 5px 16px;
}
a {
  text-decoration: none;
  color: var(--color);
}


@media screen and (min-width:993px) {
  .container,
  li,
  #my-pic div {
    padding: 10px 32px;
  }
  h1 {
    font-size: 4em;
    font-weight: 150%;
  }
  h4,p,li {
    font-size: 150%;
    font-weight: 120%;
  }
  #my-pic div {
    width: 40%;
  }
}