:root {
  --bg-color: hsl(200,95%,97%);
  --color: hsl(100,32%,12%);
}
body {
  margin: 0;
  padding: 0;
  opacity: 0;
  background-color: var(--bg-color);
  color: var(--color);
  height: 100%;
  transition: all 1s ease;
}
fieldset {
  --bg-color-fs: hsl(200,85%,83%);
  --color-fs: hsla(200,55%,53%,0.4);
  width: 80%;
  border: 1px solid var(--bg-color-fs);
  border-radius: 10px;
  background-color: var(--bg-color-fs);
  padding: 20px 30px;
  font-size: 150%;
}
.center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
fieldset legend,
fieldset {
  box-shadow: 0px -1px 5px var(--color-fs),-1px 0px 5px
  var(--color-fs), 1px 0px 5px var(--color-fs),0px 1px 5px var(--color-fs);
}
fieldset legend {
  font-size: 200%;
  background-color: hsl(220,75%,73%);
  padding: 10px 16px;
}
form input {
  width: 100%;
  padding: 10px 2px;
  line-height: 5px;
  font-size: 90%;
  border: 1px solid var(--color-fs);
  background-color: var(--color-fs);
}
form input:focus {
  outline: 2px solid var(--bg-color);
}
#login input:first-child {
  margin: 10px 0;
}
#login input:nth-child(2) {
  margin: 16.8px 0;
}
#login input:nth-child(3) {
  margin: 27.18px 0;
}

form .container {
  margin: 10px 0;
}
input[type="submit"] {
  font-size: 110%;
  padding: 20px 20%;
  display: inline-block;
  width: 100%;
  background-color: rgb(0,255,170);
  transition: 0.5s;
}
input[type="submit"]:hover {
  background-color: rgb(0,255,20);
}

@media screen and (min-width:768px) {}
@media screen and (min-width:993px) {
  fieldset {
    width: 40%;
  }
  form .container {
    margin: 30px 0;
  }
  fieldset legend {
    font-size: 300%;
  }
}